
body{
    background: #090b1a;
    width: 1440px;
    text-align: center;
}

.main-card{
    width: 1000px;
    display: flex;
    margin: auto;
    border: 2px solid red;
}

.card-image{
    background-image: url(assests/images/image-header-desktop.jpg);
    background-size: cover;
    width: 500px;
    height: 450px;
}

.card-content{
    background: #1b1938;
    width: 500px;
    border: 2px solid white;
}